.App {
  width: 90%;
  margin: 4% auto;
  height: 80vh;
  overflow-y: scroll;
  max-width: 680px;
}
.modalWrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.closeButton {
}
.categoryWrapper {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}
.newsHeading {
  margin-top: 5px;
  font-weight: 900;
}

.modalInputWrap {
  margin: 2em 0;
}

.modalInputWrap input {
  border: none;
  border-bottom: 1px solid grey;
  padding: 0.5em 0;
  width: 100%;
  outline: none;
}
.modalButtonWrap {
  margin: 3em 0 2em;
}
.modalButtonWrap button {
  cursor: pointer;
  outline: none;
  color: white;
  padding: 0.6em 1.5em;
  background-color: black;
  border-radius: 20px;
  border: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e5e5e5;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e5e5e5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #e5e5e5;
}

/* scroll bar  */

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

@media screen and (min-width: 1024px) {
  .App {
    width: 60%;
  }
  .newsHeading {
    font-weight: 900;
    font-size: xx-large;
  }
}

@media screen and (min-width: 1200px) {
  .App {
    width: 50%;
  }
}
